// glass-background
$translucent-bg: rgba(#fff,0.5);
$translucent-border: 2px solid rgba(#fff,0.2);
$light-color: #fff;

// dark theme
$dark-bg: #1E1E2E;
$darker-varient: #13161f;
$dark-varient: #27293D;


// colors
$purple-shade: #E14ECA;
$light-purple-shade:rgb(252, 162, 238)A;
$blue-shade: #1D8CF8;
$green-shade: #00BF9A;
$orange-shade: #FF8D72;

// font-color
$light-font-color: #FFFFFF;

// linear-gradients
$purple-gradient: linear-gradient(#E04ECA,#C154EF);

// shadow
$shadow:  rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;